using System.ComponentModel.DataAnnotations;

namespace {{NamespacePrefix}}.Services.Infrastructure.Messaging.Kafka;

public sealed class KafkaOptions
{
    public const string SectionName = "Modules:{{ModuleName}}:Messaging:Kafka";

    [Required]
    public required string BootstrapServers { get; init; }

    [Required]
    public required string GroupId { get; init; }

    public string AutoOffsetReset { get; init; } = "Earliest";

    public bool EnableAutoCommit { get; init; }
}
